In [ ]:
test3 = 'this is a test of emergency text system'
with open('test2.txt','wt') as texted:
    texted.write(test3)

In [ ]:
with open('test.txt','r') as reader:
    test2 = reader.read()
print(test2)

In [ ]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('book.csv','w') as update:
    update.write(text)

In [ ]:
import sqlite3
db = sqlite3.connect('books.db')
cur = db.cursor()
cur.execute('''create table book(title text, author text, year int)''')
db.commit()

In [ ]:
import csv
import sqlite3
ls = 'insert into books values()'
with open('book.csv','rt') as inserted:
    booked = csv.DictReader(inserted)
    for book in booked:
        cur.execute(ls,book['title'],book['author'],book['year'])
db.commit()

In [ ]:
sql1 = 'select title from book order by title asc'
for row in db.execute(sql1):
    print(row)

In [ ]:
for row in db.execute('select * from book order by year'):
    print(row)